<mat-toolbar color="primary" class="border space">
  <div class="menu-container">
    <a mat-button class="nav-button" routerLink="/home">
      <mat-icon>home</mat-icon>StoreApplication</a
    >
    <a
      mat-button
      class="nav-button"
      *ngIf="this.authService.isLoggedIn"
      routerLink="/users/{{ currentUserId }}"
      ><mat-icon>person</mat-icon>Profile</a
    >
    <a
      mat-button
      class="nav-button"
      *ngIf="this.authService.isLoggedIn"
      routerLink="/library"
      ><mat-icon>apps</mat-icon>Library</a
    >
    <a
      mat-button
      class="nav-button"
      *ngIf="
        this.authService.isLoggedIn && this.authService.getUserRole() == 'Admin'
      "
      routerLink="/admin-panel"
      ><mat-icon>group</mat-icon>Users</a
    >
  </div>
  <div class="menu-item-container">
    <button
      class="logout-button"
      (click)="logout()"
      *ngIf="this.authService.isLoggedIn"
      mat-icon-button
      matTooltip="Logout"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
