<mat-toolbar color="primary" class="border space">
  <div class="menu-container">
    <a
      mat-button
      class="nav-button"
      routerLink="/home"
      routerLinkActive="active-link"
    >
      <mat-icon>home</mat-icon>StoreApplication</a
    >
    <a
      mat-button
      class="nav-button"
      *ngIf="authService.isLoggedIn"
      [routerLink]="'/users/' + userInfo.id"
      routerLinkActive="active-link"
    >
      <mat-icon>person</mat-icon>Profile
    </a>
    <a
      mat-button
      class="nav-button"
      *ngIf="authService.isLoggedIn"
      routerLink="/library"
      routerLinkActive="active-link"
    >
      <mat-icon>apps</mat-icon>Library</a
    >
    <a
      mat-button
      class="nav-button"
      *ngIf="authService.isLoggedIn && authService.getUserRole() == 'Admin'"
      routerLink="/admin-panel-user"
      routerLinkActive="active-link"
    >
      <mat-icon>group</mat-icon>Users</a
    >
    <a
      mat-button
      class="nav-button"
      *ngIf="authService.isLoggedIn && authService.getUserRole() == 'Admin'"
      routerLink="/admin-panel-product"
      routerLinkActive="active-link"
    >
      <mat-icon>library_books</mat-icon>Products</a
    >
  </div>
  <div class="menu-item-container">
    <button
      class="balance-button"
      mat-stroked-button
      *ngIf="authService.isLoggedIn"
      (click)="openEditBalanceDialog()"
      matTooltip="Balance"
    >
      <mat-icon>wallet</mat-icon>
      {{ userInfo.balance }} $&nbsp;
    </button>
    <button
      class="logout-button"
      (click)="logout()"
      *ngIf="authService.isLoggedIn"
      mat-icon-button
      matTooltip="Logout"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
