<mat-grid-list cols="4" rowHeight="1.5:1" [gutterSize]="'12px'">
  <mat-grid-tile *ngFor="let data of dataToDisplay">
    <mat-card>
      <mat-card-header class="card-header">
        <div
          mat-card-avatar
          class="example-header-image"
          [style.background-image]="
            'url(data:image/jpeg;base64,' + data.icon + ')'
          "
        ></div>
        <div class="title-container">
          <mat-card-title class="truncate">{{ data.name }}</mat-card-title>
          <mat-card-subtitle class="truncate">
            <mat-chip> $&nbsp;{{ data.priceUSD }}</mat-chip>
          </mat-card-subtitle>
        </div>
      </mat-card-header>

      <mat-card-actions class="card-actions">
        <button mat-icon-button (click)="openInfoDialog(data)">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-fab (click)="openBuyDialog(data)" color="primary">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab (click)="openAddProductDialog(prodService)">
      <mat-icon>add</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
