table {
  width: 100%;
  border-collapse: separate; /* Ensures borders are treated separately, allowing border-radius */
  margin-top: 10px;
  border-radius: 10px; /* Adjust the radius value as needed */
  overflow: hidden; /* Prevents overflow outside the rounded corners */
}
mat-paginator {
  border-style: solid;
  border-color: rgba(20, 20, 20, 0.625);
  border-width: 1px;
  margin-top: 10px;
  width: 100%;
  border-collapse: separate; /* Ensures borders are treated separately, allowing border-radius */
  border-radius: 10px; /* Adjust the radius value as needed */
  overflow: hidden; /* Prevents overflow outside the rounded corners */
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.menu-item-container {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Add this to vertically align items */
}
