<h2 mat-dialog-title>Add new product</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addProductForm">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="priceUSD" />
        <span matTextPrefix>$&nbsp;</span>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Genre</mat-label>
        <mat-select formControlName="genre">
          <mat-option *ngFor="let genreInfo of genres" [value]="genreInfo.id">{{
            genreInfo.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option
            *ngFor="let categoryInfo of categories"
            [value]="categoryInfo.id"
            >{{ categoryInfo.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" formControlName="description"></textarea>
      </mat-form-field>
    </p>
    <p>
      <input
        type="file"
        (change)="onIconSelected($event)"
        formControlName="icon"
      />
      <input type="file" (change)="onScreenshotsSelected($event)" multiple />
    </p>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button
    mat-icon-button
    mat-dialog-close
    (click)="addProduct()"
    [disabled]="!addProductForm.dirty"
  >
    <mat-icon>done</mat-icon>
  </button>
</mat-dialog-actions>
