<!--
  <div class="form-signin w-100 m-auto">
  <form
    [formGroup]="signUpForm"
    (ngSubmit)="signUp()"
  >
    <h3 class="h3 mb-3 font-weight-normal text-center">Please sign up</h3>
    <div class="mb-3">
      <label>Username</label>
      <input
        type="text"
        class="form-control"
        formControlName="userName"
        placeholder="Enter username"
        required
      />
    </div>
    <div class="mb-3">
      <label>Email address</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="Enter email"
        required
      />
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
        required
      />
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-block btn-primary">Sign up</button>
    </div>
  </form>
</div>
-->

<mat-card>
  <mat-card-title class="center-text">Register</mat-card-title>
<mat-card-content>
<form [formGroup]="signUpForm">
  <p>
    <mat-form-field class="signUp-form-child" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="userName" required>
      <mat-error>Please enter a valid username</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="signUp-form-child" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required>
      <mat-error>Please enter a valid email</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="signUp-form-child" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required>
      <mat-error>Please enter a valid password</mat-error>
    </mat-form-field>
  </p>     
</form>
</mat-card-content>
  <a routerLink="/login">Already have an account? Log in</a>
<mat-card-actions>
  <button class="signUp-form-child" mat-raised-button (click)="signUp()" color="primary" [disabled]="!signUpForm.valid">Sign up</button>
</mat-card-actions>
</mat-card>