<h1 mat-dialog-title class="title">{{ user.userName }}</h1>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="editUserForm">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="userName" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Balance</mat-label>
        <input matInput type="number" formControlName="balance" />
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-icon-button
    mat-dialog-close
    (click)="editUserInfo()"
    [disabled]="!editUserForm.dirty"
  >
    <mat-icon>done</mat-icon>
  </button>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
