<div class="container">
  <div class="row">
    <div class="inner-main">
      <h2 class="mb-4">User Profile</h2>
      <p><strong>Username:</strong> {{ this.currentUser.userName }}</p>
      <p><strong>Email:</strong> {{ this.currentUser.email }}</p>
      <p><strong>Balance:</strong> {{ this.currentUser.balance }}</p>

      <h2 class="mb-4">Change Password</h2>
      <form [formGroup]="changePasswordForm">
        <label for="oldPasswordInput">Old Password:</label><br>
        <input type="password" formControlName="oldPasswordInput" required><br>
        <label for="newPasswordInput">New Password:</label><br>
        <input type="password" formControlName="newPasswordInput" required><br>
        <button (click)="changePassword()">Change Password</button>
      </form>
    </div>
  </div>
</div>