.content-container {
  padding-top: 1%;
  width: 80%;
  margin: 0 auto;
}

.layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "leftSide body rightSide"
    "footer footer footer";
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 1em;
}

.header {
  grid-area: header;
}

.leftSide {
  grid-area: leftSide;
}

.body {
  grid-area: body;
}

.rightSide {
  grid-area: rightSide;
}

.footer {
  grid-area: footer;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .layout {
    grid-template-areas:
      "header"
      "body"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }

  .leftSide,
  .rightSide {
    display: none;
  }
}
