<mat-dialog-content class="mat-typography">
  <form [formGroup]="editProductForm">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="priceUSD" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Genre</mat-label>
        <mat-select formControlName="genre">
          <mat-option *ngFor="let genreInfo of genres" [value]="genreInfo.id">{{
            genreInfo.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option
            *ngFor="let categoryInfo of categories"
            [value]="categoryInfo.id"
            >{{ categoryInfo.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" formControlName="description"></textarea>
      </mat-form-field>
    </p>
    <p>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Icon</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="'data:image/jpeg;base64,' + product.icon" />
        <mat-card-actions>
          <input
            type="file"
            (change)="onIconSelected($event)"
            formControlName="icon"
            #fileInput
            style="display: none"
          />
          <button mat-button (click)="fileInput.click()">CHANGE</button>
        </mat-card-actions>
      </mat-card>
    </p>
    <p>
      <mat-card
        *ngFor="let screenshot of product.screenshots; let i = index"
        class="example-card"
      >
        <mat-card-header>
          <mat-card-title>Screenshot</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="'data:image/jpeg;base64,' + screenshot" />
        <mat-card-actions>
          <button mat-icon-button (click)="deleteScreenshot(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </p>
    <p>
      <input
        type="file"
        (change)="onScreenshotsSelected($event)"
        multiple
        formControlName="screenshots"
      />
    </p>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-icon-button
    mat-dialog-close
    (click)="updateProduct()"
    [disabled]="!editProductForm.dirty"
  >
    <mat-icon>done</mat-icon>
  </button>
</mat-dialog-actions>
