<h1 mat-dialog-title class="title">{{ data.name }}</h1>
<mat-dialog-content class="mat-typography">
  <mat-list>
    <mat-list-item>
      <span matListItemTitle class="header-list">Price</span>
      <span matListItemLine>{{ data.priceUSD }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle class="header-list">Category</span>
      <span>{{ data.category.name }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle class="header-list">Genre</span>
      <span>{{ data.genre.name }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle class="header-list">Description</span>
      <span>{{ data.description }}</span>
    </mat-list-item>
  </mat-list>
  <div class="carousel-container">
    <button
      mat-icon-button
      matTooltip="Previous"
      class="nav-button prev"
      (click)="showPreviousImage()"
      [disabled]="currentIndex === 0"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <img
      [src]="'data:image/jpeg;base64,' + data.screenshots[currentIndex]"
      alt="Image carousel"
      class="carousel-image"
    />
    <button
      mat-icon-button
      matTooltip="Next"
      class="nav-button next"
      (click)="showNextImage()"
      [disabled]="currentIndex === data.screenshots.length - 1"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
