<h2 mat-dialog-title class="title">{{ data.name }}</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <mat-list>
    <mat-list-item>
      <div matLine class="header-list">Price</div>
      <div matLine>{{ data.priceUSD }}</div>
    </mat-list-item>
    <mat-list-item>
      <div matLine class="header-list">Category</div>
      <div matLine>{{ data.category.name }}</div>
    </mat-list-item>
    <mat-list-item>
      <div matLine class="header-list">Genre</div>
      <div matLine>{{ data.genre.name }}</div>
    </mat-list-item>
    <mat-list-item>
      <div matLine class="header-list">Description</div>
      <div matLine>{{ data.description }}</div>
    </mat-list-item>
  </mat-list>
  <div class="carousel-container">
    <button
      mat-icon-button
      matTooltip="Previous"
      class="nav-button prev"
      (click)="showPreviousImage()"
      [disabled]="currentIndex === 0"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <img
      [src]="'data:image/jpeg;base64,' + data.screenshots[currentIndex]"
      alt="Image carousel"
      class="carousel-image"
    />
    <button
      mat-icon-button
      matTooltip="Next"
      class="nav-button next"
      (click)="showNextImage()"
      [disabled]="currentIndex === data.screenshots.length - 1"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
