<mat-dialog-content>
  <mat-card>
    <mat-card-header class="card-header">
      <div
        mat-card-avatar
        class="example-header-image"
        [style.background-image]="
          'url(data:image/jpeg;base64,' + data.icon + ')'
        "
      ></div>
      <div class="title-container">
        <mat-card-title>{{ data.name }}</mat-card-title>
        <mat-card-subtitle>$&nbsp;{{ data.priceUSD }}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>Category: {{ data.category.name }}</p>
      <p>Genre: {{ data.genre.name }}</p>
      <p>Description: {{ data.description }}</p>
    </mat-card-content>
  </mat-card>
  <div class="carousel-container">
    <button
      mat-icon-button
      matTooltip="Previous"
      class="nav-button prev"
      (click)="showPreviousImage()"
      [disabled]="currentIndex === 0"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <img
      [src]="'data:image/jpeg;base64,' + data.screenshots[currentIndex]"
      alt="Image carousel"
      class="carousel-image"
    />
    <button
      mat-icon-button
      matTooltip="Next"
      class="nav-button next"
      (click)="showNextImage()"
      [disabled]="currentIndex === data.screenshots.length - 1"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
